body{
	padding: 100px 0;
	background-color:#f47920;
}
.head{

   text-align: center;
   margin:10px auto;

}
.btnT{
	font-size: 18px;
	border:0;
	width:150px;
	height:40px;
	margin: 0;
	padding: 0;

}
.main{
   background-color:#a3cf62;
   margin:80px auto 50px;
   width:200px;
   height:200px;
   border:4px solid red;
   border-radius: 50%;
   font-size: 60px;
   line-height: 200px;
   text-align:center;
}


.btns{
   text-align: center;
   margin:10px auto;

}
.btnC{
	font-size: 20px;
	margin: 30px;
	border:0;
	width:100px;
	height:50px;

}